.small-container{
  max-width: 600px;
}

#install{
  float: right;
}

.del{
  margin-right: 5px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 0;
}

ul{
  list-style: none;
  padding-left: 10px;
}