.small-container{
  max-width: 600px;
}

#install{
  float: right;
}

/* .del{
  margin-bottom: -6px;
  margin-left: 10px;
} */

.del{
  margin-right: 5px;
  /* margin-bottom: 11px; */
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 10px;
}

/* .del:hover{
  cursor: pointer;
} */

ul{
  list-style: none;
  padding-left: 10px;
}